@page "/contact/information"

<PageTitle>Contact information | KANAVRT</PageTitle>

<ContactSideNavView></ContactSideNavView>

<article>
    <h4>CONTACT INFORMATION</h4>

    <section>
        <iframe id="contact-map" frameborder="0" scrolling="no" src="https://www.google.com/maps/embed/v1/place?q=tuke+kosice&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
        </iframe>

        <div id="contact-logo">
            <img src="img/svg/logo-main.svg" alt="Alternate Text" width="128" height="128"/>
        </div>

        <ul id="contact-list">
            <li class="contact-list-element" id="contact-address">
                <div class="contact-list-icon">
                    <img src="img/svg/contact/home-active.svg" alt="address icon" width="16" height="16" />
                </div>

                <p>
                    Technical University of Košice<br />Letná 1/9<br />040 01 Košice<br />Slovakia<br />
                </p>
            </li>

            <li class="contact-list-element">
                <div class="contact-list-icon">
                    <img src="img/svg/contact/telephone-fill.svg" alt="telephone icon" width="16" height="16" />
                </div>

                <p>+421 949 515 205</p>
            </li>

            <li class="contact-list-element">
                <div class="contact-list-icon">
                    <img src="img/svg/contact/envelope-fill.svg" alt="email icon" width="16" height="16" />
                </div>

                <p>ask.kanavrt@gmail.com</p>
            </li>
        </ul>

    </section>
</article>
