@page "/contact/form"

<PageTitle>Contact form | KANAVRT</PageTitle>

<ContactSideNavView></ContactSideNavView>

<article>
	<h4>EMAIL FORM</h4>

	<section>
        <form action="https://formsubmit.co/ask.kanavrt@gmail.com" method="POST">
            <input type="text" name="name" class="personal-data" id="name" placeholder="NAME">
            <input type="text" name="email" class="personal-data" id="mail" placeholder="EMAIL">
            <input type="text" name="subject" class="personal-data" id="subject" placeholder="SUBJECT">
            <input type="hidden" name="_captcha" value="false">
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_autoresponse" value="Thank you for sending your form.">
            <input type="hidden" name="_subject" value="New submission!">
            <textarea id="subject" name="message" required placeholder="MESSAGE *"></textarea>
            <button id="submit-message">SUBMIT</button>
		</form>
	</section>
</article>
