@page "/settings/grid"

@using kanavrt.Model.Settings
@using kanavrt.View.Settings.Grid.Table

@inject SettingsModel model

<PageTitle>Grid settings</PageTitle>

<SettingsSideNavView></SettingsSideNavView>

@code {
	enum GraphCount {
		Monograph,
		Digraph,
	}

	private GraphCount type = GraphCount.Monograph;

	bool isDigraph = false;
	bool isDiacriticMonograph = false;
	bool isDiacriticDigraph = false;
}

<article>
	<h4>KANA COUNT : @(model.characters.Count)</h4>
	<section>
		<table id="character-set-table">
            @if (type == GraphCount.Monograph && !isDiacriticMonograph) {
                <MonographTableView @bind-isDiacritic="isDiacriticMonograph" @bind-characterSet="model.characters"></MonographTableView>
			} else if (type == GraphCount.Monograph && isDiacriticMonograph) {
                <DiacriticMonographTableView @bind-isDiacritic="isDiacriticMonograph" @bind-characterSet="model.characters"></DiacriticMonographTableView>
			} else if (type == GraphCount.Digraph && !isDiacriticDigraph) {
				<DigraphTableView @bind-isDiacritic="isDiacriticDigraph" @bind-characterSet="model.characters"></DigraphTableView>
			} else if (type == GraphCount.Digraph && isDiacriticDigraph) {
				<DiacriticDigraphTableView @bind-isDiacritic="isDiacriticDigraph" @bind-characterSet="model.characters"></DiacriticDigraphTableView>
            }
		</table>

		<div id="graph-type">
			<InputRadioGroup @bind-Value="@(type)">
				<InputRadio id="monograph-input" Value="GraphCount.Monograph" class="graph-input" style="display: none;" @onclick="() => isDiacriticDigraph = false" />
				<label class="graph-label" id="monograph-label" for="monograph-input">MONOGRAPHS</label>
				<InputRadio Value="GraphCount.Digraph" id="digraph-input" class="graph-input" style="display: none;" @onclick="() => isDiacriticMonograph = false" />
				<label class="graph-label" id="digraph-label" for="digraph-input">DIGRAPHS</label>
			</InputRadioGroup>
		</div>
	</section>
</article>