button.guess-button, button.guess-button-active {
    grid-column: 1 / -1;
    grid-row: span 2;
    background-color: var(--light-gray);
    color: var(--black);
    font-size: 8rem;
    border: unset;
    cursor: pointer;
}

button.guess-button-correct {
    background-color: var(--purple);
    color: var(--white);
}

button.guess-button-wrong {
}

@keyframes downwards {
    to { transform: translateY(1rem); }
}

@keyframes upwards {
    to {
        transform: translateY(-1rem);
    }
}

section > button.guess-button:first-child {
    border-radius: 1rem 1rem 0 0;
}

section > button.guess-button:last-child {
    border-radius: 0 0 1rem 1rem;
}

section > button.guess-button:first-child:hover {
    animation-name: downwards;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

section > button.guess-button:last-child:hover {
    animation-name: upwards;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

p.latin-guess, p.latin-guess-correct, p.latin-guess-wrong {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    vertical-align: middle;
    margin: unset;
    padding: unset;
    grid-column: 1 / -1;
    background-color: var(--black);
    color: var(--white);
}

p.latin-guess-correct {
    background-color: var(--green);
}

p.latin-guess-wrong {
    background-color: var(--red);
}

div.info-bar {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    width: 35rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

input, bar-button, input.bar-toggle {
    display: none;
}

label.bar-button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white);
    outline: solid 0.2rem var(--black);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

label.bar-toggle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--light-gray);
    border: solid 0.2rem var(--light-gray);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

input.bar-toggle:checked + label.bar-toggle {
    background-color: var(--black);
    border: solid 0.2rem var(--black);
    color: var(--white);
}

    input.bar-toggle:checked + label.bar-toggle > img {
        filter: invert(100%) sepia(1%) saturate(684%) hue-rotate(263deg) brightness(116%) contrast(80%);
    }

label.bar-button:hover {
    transform: scale(95%);
}

input.bar-toggle:checked + label.bar-toggle > img#volume-off {
    display: none;
}

input.bar-toggle:checked + label.bar-toggle > img#volume-on {
    display: unset;
}

input.bar-toggle + label.bar-toggle > img#volume-on {
    display: none;
}

input.bar-toggle + label.bar-toggle > img#volume-off {
    display: unset;
}

span.progress-bar {
    flex-grow: 1;
    display: flex;
    background-color: var(--light-gray);
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

div.left-progress, div.right-progress {
    height: 100%;
    width: 0%;
    transition: width 1500ms ease-in-out;
}

div.left-progress {
    background-color: var(--red);
    margin-left: auto;
}

div.right-progress {
    background-color: var(--green);
}

@media screen and (max-width: 650px) {
    div.info-bar {
        width: 22.5rem;
    }
}

@media screen and (max-height: 950px) {
    h4 {
        display: none;
    }
}

@media screen and (max-height: 850px) {
    button.guess-button, button.guess-button-active {
        font-size: 6rem;
    }
}

@media screen and (max-height: 700px) {
    button.guess-button, button.guess-button-active {
        font-size: 4rem;
    }

    p.latin-guess {
        font-size: 1.5rem;
    }
}
