@page "/modes/keyboard"

<PageTitle>Keyboard mode</PageTitle>

<ModesSideNav></ModesSideNav>

<article>
    <h2>EITHER OR MODE</h2>

    <div class="info-bar">
        <span class="progress-bar">
            <span class="left-progress">

            </span>
        </span>

        <button class="bar-button">
            <img src="img/svg/modes/arrow-clockwise.svg" alt="next character" />
        </button>

        <span class="progress-bar">
            <span class="right-progress">

            </span>
        </span>
    </div>

    <section>
        <p class="japanese-character">あ</p>

        <p class="latin-guess"></p>

        <table class="keyboard">
            <tr id="graphs">
                <th>GRAPHS</th>
            </tr>

            <tr id="monograph-characters">
                <th class="roman-character">
                    <button>A</button>
                </th>
                <th class="roman-character">I</th>
                <th class="roman-character">U</th>
                <th class="roman-character">E</th>
                <th class="roman-character">O</th>
            </tr>

            <tr id="diacritic">
                <th>DIACRITIC</th>
            </tr>

            <tr id="non-diacritic-characters">
                <th class="roman-character">K</th>
                <th class="roman-character">S</th>
                <th class="roman-character">T</th>
                <th class="roman-character">N</th>
                <th class="roman-character">H</th>
                <th class="roman-character">P</th>
                <th class="roman-character">M</th>
                <th class="roman-character">Y</th>
                <th class="roman-character">R</th>
                <th class="roman-character">W</th>
                <th class="roman-character">C</th>
                <th class="roman-character">F</th>
                <th class="roman-character">J</th>
            </tr>
        </table>
    </section>
</article>
