button.guess-button {
    grid-column: 1 / -1;
    grid-row: span 2;
    background-color: var(--black);
    color: var(--white);
    font-size: 8rem;
    border: unset;
    cursor: pointer;
}

    button.guess-button:first-child:active {
        background-color: var(--gray);
        color: var(--black);
        border-top: solid 0.5rem var(--black);
        border-left: solid 0.5rem var(--black);
        border-right: solid 0.5rem var(--black);
        border-bottom: solid 0.5rem var(--dark-purple);
    }

    button.guess-button:last-child:active {
        background-color: var(--gray);
        color: var(--black);
        border-bottom: solid 0.5rem var(--black);
        border-left: solid 0.5rem var(--black);
        border-right: solid 0.5rem var(--black);
        border-top: solid 0.5rem var(--dark-purple);
    }

@keyframes downwards {
    to {
        transform: translateY(1rem);
    }
}

@keyframes upwards {
    to {
        transform: translateY(-1rem);
    }
}

section > button.guess-button:first-child {
    border-radius: 1rem 1rem 0 0;
}

section > button.guess-button:last-child {
    border-radius: 0 0 1rem 1rem;
}

section > button.guess-button:first-child:hover {
    animation-name: downwards;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

section > button.guess-button:last-child:hover {
    animation-name: upwards;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

p.latin-guess {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    vertical-align: middle;
    margin: unset;
    padding: unset;
    grid-column: 1 / -1;
    background-color: var(--dark-purple);
    color: var(--white);
}

div.info-bar {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    width: 35rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

button.bar-button {
    width: 2.5rem;
    background-color: var(--white);
    border: solid 0.2rem var(--black);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    button.bar-button:hover {
        cursor: pointer;
        transform: scale(95%);
    }

span.progress-bar {
    flex-grow: 1;
    background-color: var(--gray);
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

@media screen and (max-width: 650px) {
    div.info-bar {
        width: 22.5rem;
    }
}
