<nav style="side-nav">
    <ul>
        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="modes/eitheror">
                <img src="/img/svg/modes/eitheror.svg" alt="eitheror image" width="16" height="16" />
                <h3>EITHEROR</h3>
            </NavLink>
        </li>

        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="modes/keyboard">
                <img src="/img/svg/modes/keyboard.svg" alt="keyboard image" width="16" height="16" />
                <h3>KEYBOARD</h3>
            </NavLink>
        </li>
    </ul>
</nav>
