<nav style="side-nav">
    <ul>
        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="contact/information">
                <img src="/img/svg/contact/information.svg" alt="information image" width="16" height="16" />
                <h3>INFORMATION</h3>
            </NavLink>
        </li>

        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="contact/form">
                <img src="/img/svg/contact/form.svg" alt="form image" width="16" height="16" />
                <h3>FORM</h3>
            </NavLink>
        </li>
    </ul>
</nav>
