@page "/contact/information"

<PageTitle>Contact information</PageTitle>

<ContactSideNav></ContactSideNav>

<article>
    <section>
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </section>
</article>
