<nav style="side-nav">
    <ul>
        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="quiz/eitheror">
                <img class="default-side-icon" src="img/svg/quiz/eitheror.svg" alt="eitheror default image" width="16" height="16" />
                <img class="active-side-icon" src="img/svg/quiz/eitheror_active.svg" alt="eitheror active image" width="16" height="16" />
                <h3>EITHEROR</h3>
            </NavLink>
        </li>

        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="quiz/keyboard">
                <img class="default-side-icon" src="img/svg/quiz/keyboard.svg" alt="keyboard default image" width="16" height="16" />
                <img class="active-side-icon" src="img/svg/quiz/keyboard_active.svg" alt="keyboard active image" width="16" height="16" />
                <h3>KEYBOARD</h3>
            </NavLink>
        </li>
    </ul>
</nav>
