@page "/statistics"

<PageTitle>Statistics | KANAVRT</PageTitle>

<nav style="side-nav">
</nav>

<article>
    <section>
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </section>
</article>
