@page "/settings/fonts"

<PageTitle>Fonts settings</PageTitle>

<SettingsSideNavView></SettingsSideNavView>

<article>
    <section>
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </section>
</article>