<nav id="side-nav">
    <ul>
        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="settings/grid">
                <img class="default-side-icon" src="img/svg/settings/grid.svg" alt="grid image" width="16" height="16" />
                <img class="active-side-icon" src="img/svg/settings/grid_active.svg" alt="grid image" width="16" height="16" />
                <h3>GRID</h3>
            </NavLink>
        </li>

        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="settings/fonts">
                <img class="default-side-icon" src="img/svg/settings/fonts.svg" alt="fonts default image" width="16" height="16" />
                <img class="active-side-icon" src="img/svg/settings/fonts_active.svg" alt="fonts active image" width="16" height="16" />
                <h3>FONTS</h3>
            </NavLink>
        </li>
    </ul>
</nav>