<nav id="side-nav">
    <ul>
        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="settings/grid">
                <img src="/img/svg/settings/grid.svg" alt="grid image" width="16" height="16"/>
                <h3>GRID</h3>
            </NavLink>
        </li>

        <li>
            <NavLink ActiveClass="side-link-active" class="side-link" href="settings/fonts">
                <img src="/img/svg/settings/fonts.svg" alt="fonts image" width="16" height="16"/>
                <h3>FONTS</h3>
            </NavLink>
        </li>
    </ul>
</nav>
