@page "/"

<PageTitle>Kanavrt</PageTitle>

<article>
	<section id="home-section">
		<hgroup id="main-title-group" class="title-group">
			<h3 id="main-title">ABOUT KANAVRT</h3>
			<h4 class="sub-title">THE STORY</h4>
		</hgroup>

		<p id="information">
			KANAVRT began as a university bachelor thesis project with the aim of creating an interactive web applications for learning Japanese kana syllabary. The main idea behind its creation was to make learning kana characters easier and accessible to a broader spectrum of users.

			<br />
			<br />

			The  application itself was designed using Figma in order to improve the user experience. It is designed for people who want to learn the characters through a quiz game, where the user must correctly guess from a set of randomly picked kana syllables. This form of learning aims to enhance the learning experience through replayability and the human desire for improvement.
		</p>

		<hgroup class="sub-title-group title-group">
			<h4 class="sub-title">SOCIAL MEDIA</h4>
			<h5 class="sub-sub-title">LINKS</h5>
		</hgroup>

		<span id="social-media-links">
			<a class="social-media" id="github-link" href="https://github.com/TheGAzed/kanavrt" target="_blank">
				<img class="social-media-icon" src="/img/svg/home/github.svg" alt="github logo"/>
			</a>

			<a class="social-media" id="linkedin-link" href="https://www.linkedin.com/in/thegazed/" target="_blank">
				<img class="social-media-icon" src="/img/svg/home/linkedin.svg" alt="linkedin logo"/>
			</a>
		</span>
	</section>
</article>

