@page "/"

<PageTitle>Kanavrt</PageTitle>

<article>
	<section id="home-section">
		<hgroup id="main-title-group" class="title-group">
			<h3 id="main-title">ABOUT KANAVRT</h3>
			<h4 class="sub-title">THE STORY</h4>
		</hgroup>

		<p class="information" id="primary-information">
            <b>KANAVRT</b> began as a <b>university bachelor thesis project</b> with the aim of creating an <b>interactive web applications</b> for learning <b>Japanese hiragana syllabary</b>. The main idea behind its creation was to make learning kana characters easier and accessible to a broader spectrum of users.
		</p>

		<p class="information" id="secondary-information">
			The application itself was made using <b>Blazor .NET web framework</b>. It is designed for people who want to learn the characters through a <b>quiz game</b>, where the user must correctly guess from a set of randomly picked kana syllables. This form of learning aims to enhance the learning experience through replayability and the human desire for improvement.
		</p>

		<hgroup class="sub-title-group title-group">
			<h4 class="sub-title">SOCIAL MEDIA</h4>
			<h5 class="sub-sub-title">LINKS</h5>
		</hgroup>

		<span id="social-media-links">
			<a class="social-media" id="github-link" href="https://github.com/TheGAzed/kanavrt" target="_blank">
				<img class="social-media-icon" src="/img/svg/home/github.svg" alt="github logo"/>
			</a>

			<a class="social-media" id="linkedin-link" href="https://www.linkedin.com/in/thegazed/" target="_blank">
				<img class="social-media-icon" src="/img/svg/home/linkedin.svg" alt="linkedin logo"/>
			</a>
		</span>
	</section>
</article>

