@inherits LayoutComponentBase

<header>
    <div>
        <div>
            <img src="img/svg/logo-main.svg" alt="kanavrt logo" fill="#E6E6E6" width="16" height="16" />
        </div>

        <h1>&emsp;KANAVRT</h1>
    </div>

    <nav id="primary-navigation">
        <ul>
            <li>
                <NavLink ActiveClass="main-link-active" class="main-link" href="" Match="NavLinkMatch.All" id="home-main-link">
                    <h2>HOME</h2>
                    <img src="img/svg/mainnav/home-default.svg" alt="home default icon" width="24" height="24" class="default-icon" id="home-icon-default" />
                    <img src="img/svg/mainnav/home-active.svg" alt="home active icon" width="24" height="24" class="active-icon" id="home-icon-active" />
                </NavLink>
            </li>

            <li>
                <NavLink ActiveClass="main-link-active" class="main-link" href="quiz" id="quiz-main-link">
                    <h2>QUIZ</h2>
                    <img src="img/svg/mainnav/quiz-default.svg" alt="quiz default icon" width="24" height="24" class="default-icon" id="quiz-icon-default" />
                    <img src="img/svg/mainnav/quiz-active.svg" alt="quiz active icon" width="24" height="24" class="active-icon" id="quiz-icon-active" />
                </NavLink>
            </li>


            <li>
                <NavLink ActiveClass="main-link-active" class="main-link" href="settings" id="settings-main-link">
                    <h2>SETTINGS</h2>
                    <img src="img/svg/mainnav/settings-default.svg" alt="settings default icon" width="24" height="24" class="default-icon" id="settings-icon-default" />
                    <img src="img/svg/mainnav/settings-active.svg" alt="settings active icon" width="24" height="24" class="active-icon" id="settings-icon-active" />
                </NavLink>
            </li>

            <li>
                <NavLink ActiveClass="main-link-active" class="main-link" href="statistics" id="statistics-main-link">
                    <h2>STATISTICS</h2>
                    <img src="img/svg/mainnav/statistics-default.svg" alt="statistics default icon" width="24" height="24" class="default-icon" id="statistics-icon-default" />
                    <img src="img/svg/mainnav/statistics-active.svg" alt="statistics active icon" width="24" height="24" class="active-icon" id="statistics-icon-active" />
                </NavLink>
            </li>

            <li>
                <NavLink ActiveClass="main-link-active" class="main-link" href="contact" id="contact-main-link">
                    <h2>CONTACT</h2>
                    <img src="img/svg/mainnav/contact-default.svg" alt="contact default icon" width="24" height="24" class="default-icon" id="contact-icon-default" />
                    <img src="img/svg/mainnav/contact-active.svg" alt="contact active icon" width="24" height="24" class="active-icon" id="contact-icon-active" />
                </NavLink>
            </li>
        </ul>
    </nav>
</header>

<main>
    @Body
</main>